.item{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 10px;
}

.item:hover{
    transform: translate(5px, 10%);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    box-shadow:15px 5px 10px black; 

}